In [34]:
# importing libraries

import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt
%matplotlib inline
import warnings
warnings.filterwarnings('ignore', category=FutureWarning)
warnings.filterwarnings('ignore')

In [35]:
df = pd.read_csv('winequality.csv')
df.head() 

  # shows like this bcs its ; separated

  fixed acidity;"volatile acidity";"citric acid";"residual sugar";"chlorides";"free sulfur dioxide";"total sulfur dioxide";"density";"pH";"sulphates";"alcohol";"quality"
0   7;0.27;0.36;20.7;0.045;45;170;1.001;3;0.45;8.8;6
1  6.3;0.3;0.34;1.6;0.049;14;132;0.994;3.3;0.49;9...
2  8.1;0.28;0.4;6.9;0.05;30;97;0.9951;3.26;0.44;1...
3  7.2;0.23;0.32;8.5;0.058;47;186;0.9956;3.19;0.4...
4  7.2;0.23;0.32;8.5;0.058;47;186;0.9956;3.19;0.4...

In [36]:
df = pd.read_csv('winequality.csv',sep=';')
df.head()

,fixed acidity,volatile acidity,citric acid,residual sugar,chlorides,free sulfur dioxide,total sulfur dioxide,density,pH,sulphates,alcohol,quality
0,7.0,0.27,0.36,20.7,0.045,45.0,170.0,1.0010,3.00,0.45,8.8,6
1,6.3,0.30,0.34,1.6,0.049,14.0,132.0,0.9940,3.30,0.49,9.5,6
2,8.1,0.28,0.40,6.9,0.050,30.0,97.0,0.9951,3.26,0.44,10.1,6
3,7.2,0.23,0.32,8.5,0.058,47.0,186.0,0.9956,3.19,0.40,9.9,6
4,7.2,0.23,0.32,8.5,0.058,47.0,186.0,0.9956,3.19,0.40,9.9,6

In [37]:
df.isna().sum()

fixed acidity           0
volatile acidity        0
citric acid             0
residual sugar          0
chlorides               0
free sulfur dioxide     0
total sulfur dioxide    0
density                 0
pH                      0
sulphates               0
alcohol                 0
quality                 0
dtype: int64

In [38]:
df.shape

(4898, 12)

In [39]:
df.quality.unique()

array([6, 5, 7, 8, 4, 3, 9], dtype=int64)

In [40]:
df.groupby('quality').mean()

,fixed acidity,volatile acidity,citric acid,residual sugar,chlorides,free sulfur dioxide,total sulfur dioxide,density,pH,sulphates,alcohol
quality,,,,,,,,,,,
3,7.600000,0.333250,0.336000,6.392500,0.054300,53.325000,170.600000,0.994884,3.187500,0.474500,10.345000
4,7.129448,0.381227,0.304233,4.628221,0.050098,23.358896,125.279141,0.994277,3.182883,0.476135,10.152454
5,6.933974,0.302011,0.337653,7.334969,0.051546,36.432052,150.904598,0.995263,3.168833,0.482203,9.808840
6,6.837671,0.260564,0.338025,6.441606,0.045217,35.650591,137.047316,0.993961,3.188599,0.491106,10.575372
7,6.734716,0.262767,0.325625,5.186477,0.038191,34.125568,125.114773,0.992452,3.213898,0.503102,11.367936
8,6.657143,0.277400,0.326514,5.671429,0.038314,36.720000,126.165714,0.992236,3.218686,0.486229,11.636000
9,7.420000,0.298000,0.386000,4.120000,0.027400,33.400000,116.000000,0.991460,3.308000,0.466000,12.180000

In [41]:
corr = df.corr()['quality']
corr

fixed acidity          -0.113663
volatile acidity       -0.194723
citric acid            -0.009209
residual sugar         -0.097577
chlorides              -0.209934
free sulfur dioxide     0.008158
total sulfur dioxide   -0.174737
density                -0.307123
pH                      0.099427
sulphates               0.053678
alcohol                 0.435575
quality                 1.000000
Name: quality, dtype: float64

In [42]:
lowcorr = corr[(abs(corr)<0.1)]
lowcorr

citric acid           -0.009209
residual sugar        -0.097577
free sulfur dioxide    0.008158
pH                     0.099427
sulphates              0.053678
Name: quality, dtype: float64

In [43]:
lowcorrCols = lowcorr.index
lowcorrCols

Index(['citric acid', 'residual sugar', 'free sulfur dioxide', 'pH',
       'sulphates'],
      dtype='object')

In [44]:
y = df.quality
X = df.drop('quality',axis=1)
X.drop(lowcorrCols,axis = 1,inplace=True)
X.head()

,fixed acidity,volatile acidity,chlorides,total sulfur dioxide,density,alcohol
0,7.0,0.27,0.045,170.0,1.0010,8.8
1,6.3,0.30,0.049,132.0,0.9940,9.5
2,8.1,0.28,0.050,97.0,0.9951,10.1
3,7.2,0.23,0.058,186.0,0.9956,9.9
4,7.2,0.23,0.058,186.0,0.9956,9.9

In [45]:
from sklearn.model_selection import train_test_split

X_train,X_test,y_train,y_test = train_test_split(X,y,train_size=0.2,random_state=42)

In [46]:
from sklearn.linear_model import LogisticRegression
lr_classifier = LogisticRegression()

In [47]:
lr_classifier.fit(X_train,y_train)

LogisticRegression()

In [48]:
lr_classifier.score(X_train,y_train)

0.48314606741573035

In [49]:
lr_classifier.score(X_test,y_test)

0.4725695330441439